{{ define "main" }}
<article>
	<header id="post-header">
		<div>
			{{ if eq .Title "about me" }}
			<!-- This is the About page, do not display the date -->
			<h1 style="margin-bottom: -2.1rem;">{{ .Title }}
			</h1>
			{{ else }}
			<h1>{{ .Title }}</h1>
			<!-- {{ if .Date }} -->
			<!-- {{ if eq .Lastmod .Date }} -->
			<!-- <time>{{ .Date | time.Format (i18n "post.created") | lower}}</time> -->
			<!-- {{ else }} -->
			<!-- <time>updated {{ .Lastmod | time.Format (i18n "post.updated") | lower}}</time> -->
			<!-- {{ end }} -->
			<!-- {{ end }} -->
			{{ if .Params.updated }}
			<time><strong>updated</strong> {{ .Params.updated | dateFormat "Jan 2, 2006" | lower }} </time>
			{{ else if .Date }}
			<time>{{ .Lastmod | time.Format (i18n "post.created") | lower}}</time>
			{{ end }}
			{{ end }}
			<span style="padding-left: 0.5rem;">
				{{ range .Params.tags }}
				<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag">#{{ . }}</a>
				{{ end }}
			</span>
		</div>
	</header>
	{{- .Content -}}
	{{ if .Params.updated }}
	<small><time><strong>originally posted on {{ .Lastmod | time.Format (i18n "post.created") | lower}}</strong></time></small>
	{{ end }}
</article>

<section>
	<div>
		{{ if .Params.showRelated | default true }}
		{{ $related := .Site.RegularPages.Related . | first 3 }}
		{{ if gt (len $related) 0 }}
		<hr>
		<section>
			<!-- <p style="font-size: 3rem; font-weight: bold; text-decoration: underline;">more like this</p> -->
			<h2>more like this</h2>
			<div>
				<ul id="posts">
					{{ range $related }}
					<p>{{ .Render "li" }}</p>
					{{ end }}
				</ul>
			</div>
		</section>
		{{ else }}
		{{ end }}
		{{ end }}
	</div>
</section>

{{ if eq .Title "about me" }}
{{ else }}
<script src="https://utteranc.es/client.js"
repo="dpi0/dpi0.github.io"
issue-term="pathname"
theme="github-light"
crossorigin="anonymous"
async>
</script>
{{ end }}

{{ end }}
