{{ define "main" }}
<article>
	<header id="post-header">
		<div>
			{{ if eq .Title "About Me" }}
			<!-- This is the About page, do not display the date -->
			<h1 style="font-size: 4rem; color: #689D6A; text-decoration: underline; margin-bottom: -2rem; ">{{ .Title }}
			</h1>
			{{ else }}
			<h1 style="font-size: 4rem; color: #689D6A; text-decoration: underline; ">{{ .Title }}</h1>
			{{ if .Date }}
			{{ if eq .Lastmod .Date }}
			<time>{{ .Date | time.Format (i18n "post.created") }}</time>
			{{ else }}
			<time>{{ .Lastmod | time.Format (i18n "post.updated") }}</time>
			{{ end }}
			{{ end }}
			{{ end }}
			<span style="padding-left: 0.5rem;">
				{{ range .Params.tags }}
				<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag">#{{ . }}</a>
				{{ end }}
			</span>
		</div>
	</header>
	{{- .Content -}}
</article>


<section>
	<div>
		{{ if .Params.showRelated | default true }}
		{{ $related := .Site.RegularPages.Related . | first 3 }}
		{{ if gt (len $related) 0 }}
		<hr>
		<section>
			<p style="font-size: 3rem; font-weight: bold; text-decoration: underline;">More Like This</p>
			<div>
				<ul id="posts">
					{{ range $related }}
					<p>{{ .Render "li" }}</p>
					{{ end }}
				</ul>
			</div>
		</section>
		{{ else }}
		{{ end }}
		{{ end }}

	</div>
</section>





{{ if eq .Title "About Me" }}
{{ else }}
<hr>
<script src="https://utteranc.es/client.js"
        repo="dpi0/echo"
        issue-term="pathname"
        theme="gruvbox-dark"
        crossorigin="anonymous"
        async>
</script>
{{ end }}

{{ end }}