{{ define "main" }}
<article>
	<header id="post-header">
		<div>
			{{ if eq .Title "About Me" }}
			<!-- This is the About page, do not display the date -->
			<h1 style="font-size: 4rem; color: #003B4D; text-decoration: underline; margin-bottom: -2rem; ">{{ .Title }}
			</h1>
			{{ else }}
			<h1 style="font-size: 4rem; color: #003b4d; text-decoration: underline; ">{{ .Title }}</h1>
			{{ if .Date }}
			{{ if eq .Lastmod .Date }}
			<time>{{ .Date | time.Format (i18n "post.created") | lower}}</time>
			{{ else }}
			<time>{{ .Lastmod | time.Format (i18n "post.updated") | lower}}</time>
			{{ end }}
			{{ end }}
			{{ end }}
			<span style="padding-left: 0.5rem;">
				{{ range .Params.tags }}
				<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag">#{{ . }}</a>
				{{ end }}
			</span>
		</div>
	</header>
	{{- .Content -}}
</article>

<section>
	<div>
		{{ if .Params.showRelated | default true }}
		{{ $related := .Site.RegularPages.Related . | first 3 }}
		{{ if gt (len $related) 0 }}
		<hr>
		<section>
			<p style="font-size: 3rem; font-weight: bold; text-decoration: underline;">more like this</p>
			<div>
				<ul id="posts">
					{{ range $related }}
					<p>{{ .Render "li" }}</p>
					{{ end }}
				</ul>
			</div>
		</section>
		{{ else }}
		{{ end }}
		{{ end }}
	</div>
</section>

{{ if eq .Title "about me" }}
{{ else }}
<script src="https://utteranc.es/client.js"
        repo="dpi0/dpi0.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{{ end }}

{{ end }}
