@import url('https://www.nerdfonts.com/assets/css/webfont.css');

*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	/* --accent: #009CCC; */
	/* --link-hover: #8EC07C; */
	/* --bg: #f0fcff; */
	/* --bg1: #313a3d; */
	/* --bg2: #A89984; */
	/* --fg: #ff0000; */
	--fg2: #007194;
}

html {
	font-size: 65%;
}

body {
	font-size: 1.8rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	/* font-family: Menlo; */
	/* font-family: merriweather; */
	/* font-family: "/static/fonts/SpaceMonoNerdFont-Regular.ttf"; */
	color: var(--bg1);
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;
	line-height: 1.6;
	overflow-wrap: break-word;
}

header#banner {
	margin: 25px 0;
}

header#banner a {
	color: var(--bg1);
	text-decoration: none;
}

header#banner a:hover {
	text-decoration: underline;
}

header#banner h2 {
	display: inline;
	font-size: 21px;
	font-size: 2.1rem;
	margin: 0 8px 0 0;
}

header#banner nav {
	display: inline-block;
}

header#banner nav ul {
	list-style-type: none;
	font-size: 1.05em;
	text-transform: lowercase;
	margin: 0;
	padding: 0;
}

header#banner nav ul li {
	display: inline;
	margin: 0 3px;
}

header#banner nav ul li a:hover {
	text-decoration: underline;
	/* color: var(--fg2); */
}

main#content a {
	text-decoration: none;
}

main#content a:hover {
	text-decoration: underline;
	color: var(--link-hover);
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
	margin-bottom: 1rem;
	color: #003b4d;
	text-decoration: underline;
	/* padding: 0.2rem; */
	/* border: 2px solid #003B4D; */
	/* border-radius: 0.3rem 0.3rem;  */
	line-height: 1.15;
	display: inline-block;
}

main#content h1 {
	font-size: 3.5rem;

}

main#content h2 {
	font-size: 3rem;
	margin-top: 4rem;
}

main#content h3 {
	font-size: 19px;
	font-size: 1.9rem;
}

main#content h1+p,
main#content h2+p,
main#content h3+p,
main#content h4+p,
main#content h5+p,
main#content h6+p {
	margin-top: 5px;
}

main#content p {
	margin: 16px 0;
}

main#content hr {
	height: 1px;
	border: 0;
}

main#content abbr {
	cursor: help;
}

/* index.html styles */
main#content ul#posts {
	list-style-type: none;
	font-size: 16px;
	font-size: 1.6rem;
	margin-top: 0;
	padding: 0;
}

main#content ul#posts li {
	margin: 5px 0;
	padding: 0;
}

main#content ul#posts small {
	font-size: 0.8em;
	margin-left: 10px;
}


main#content ul#posts span:hover {
	text-decoration: underline;
	color: var(--link-hover);
}

main#content ul#posts a:hover small time {
	text-decoration: none;
}

/* single.html styles */
main#content header#post-header h1 {
	display: block;
	font-size: 25px;
	font-size: 2.3rem;
	font-weight: 600;
	line-height: 1.15;
}

main#content header#post-header>div {
	display: block;
	font-size: 0.85em;
	color: #767676;
}

main#content #toc {
	border: 1px solid var(--bg2);
	padding: 1rem;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 2.7rem;
	border-radius: 0.3rem 0.3rem;
	max-width: 400px;
}


main#content #toc h4 {
	font-size: 1.06em;
	/* color: var(--fg); */
	margin: 0;
}

main#content #toc h4::before {
	content: "";
}

main#content #toc ul li::before {
	color: var(--accent);
	content: "- ";
}

main#content #toc nav#TableOfContents {
	margin-top: 4px;
}

main#content #toc nav#TableOfContents>ul,
main#content #toc nav#TableOfContents>ol {
	margin-left: -40px;
}

main#content #toc ul,
main#content #toc ol {
	font-size: 0.98em;
	margin: 0;
	padding: 0 0 0 40px;
}

main#content #toc ul {
	list-style-type: none;
}

main#content #toc ol {
	counter-reset: item;
}

main#content #toc ol li {
	display: block;
}

main#content #toc ol li:before {
	content: counters(item, ".") ". ";
	counter-increment: item;
}

main#content img {
	max-width: 100%;
	margin: 0.2rem;
	padding: 0.2rem;
	border: dashed 0.2rem var(--accent);
	border-radius: 0.3rem 0.3rem;
}

main#content figure {
	margin: 16px 0;
}

main#content figure img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

main#content figure figcaption {
	font-size: 0.92em;
	font-style: italic;
	line-height: 22px;
	text-align: center;
	margin-top: 6px;
	padding: 0 10px;
}

main#content figure figcaption h4 {
	font-style: normal;
	display: inline;
	margin: 0;
}

main#content figure figcaption p {
	display: inline;
	margin: 0;
	padding-left: 8px;
}

main#content table {
	border-collapse: collapse;
	table-layout: fixed;
	/* width: 100%; */
}

main#content table,
main#content th,
main#content td {
	border: 1px dotted;
	border-radius: 0.3rem 0.3rem;
}

main#content th,
main#content td {
	padding: 0.7rem;
	text-align: left;
}

main#content blockquote {
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	padding-left: 15px;
	border-left: 3px solid var(--bg2);
}

main#content code,
main#content pre {
	font-family: 'Menlo', monospace;
}

main#content code {
	font-size: 0.96em;
	padding: 0 5px;
}

main#content pre {
	display: block;
	overflow-x: auto;
	font-size: 14px;
	font-size: 1.4rem;
	white-space: pre;
	margin: 20px 0;
	padding: 1.5rem 1.5rem;
	line-height: 1.4;
}

main#content pre code {
	padding: 0;
}

main#content mark {
	background-color: var(--accent);
}

main#content .footnotes {
	font-size: 0.9em;
}

footer#footer {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
	margin: 40px 0;
}

.utterances-frame {
	margin-top: 10px;
}
