<div id="statuscafe" style="padding: .5em; background-color: #f0fcff; border: 1px solid #003b4d; max-width: 500px; 	border-radius: 0.3rem;
	">
	<div id="statuscafe-username" style="margin-bottom: .5em; font-size: 1.7rem; color: #003b4d;"><a href="https://github.com/dpi0">dpi0</a> 🙂 1 day ago</div>
	<div id="statuscafe-content" style="margin: 0 1em 0.5em 1em; font-size: 1.6rem; color: #003747;">getting back up.</div>
</div>


<ul id="posts" style="margin-top: 3rem;">
	{{- range where site.RegularPages "Type" "in" site.Params.mainSections }}
	{{ .Render "li" }}
	{{- end }}
</ul>
